.board {
    position: relative;
    background-color: #FFFFFF;
    margin: 0em;
    width: 100svw;
    height: 100svh;
}

.flow {
    position: relative;
    margin: 0em;
    width: calc(100svw - 270px);
    height: 100svh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    height: 2.85em;
    padding: 0 0 0 0.25em;
    border-radius: 0;
    box-sizing: border-box;
    width: 100svw;
    z-index: 5;
}

.components {
    display: flex;
    flex-flow: row;
    gap: 0.5em;
    padding: 0.5em;
}

.components_title {
    font-size: 0.8em;
}

.components_button {
    width: 3em;
    padding: 0.25em;
    height: 3em;
}

.containerTabs {
    position: absolute;
    right: 0;
    top: 2.89em;
    z-index: 0;
    border-radius: 0;
    min-width: 270px;
    height: calc(100svh - 2.89em);


}

.tabs {
    width: 100%;
}

.divider {
    width: 100%;
}

.label {
    padding: 0 0 0 0.5em;
    font-family: var(--font-family);
}