.board {
    position: relative;
    background-color: #FFFFFF;
    margin: 0em;
    width: 100svw;
    height: 100svh;
}


.components {
    display: flex;
    flex-flow: row;
    gap: 0.5em;
    padding: 0.5em;
}

.components_title {
    font-size: 0.8em;
}

.components_button {
    width: 3em;
    padding: 0.25em;
    height: 3em;
}

.containerTabs {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: #FFFFFF;
    min-width: 240px;
    height: 100svh;
    border-left: 1px solid #DEDEDE;
}

.tabs {
    width: 100%;
}

.divider {
    width: 100%;
}

.label {
    padding: 0 0 0 0.5em;
    font-family: var(--font-family);
}