.box {
    position: relative;
    /* border: 1px solid transparent;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    color: var(--foreground-color);
}

.box_valid {
    background-color: #03a13035;
}

.box_invalid {
    background-color: #de340935;
}

.box_selected {
    /* border: 1px dashed #c3781cee;*/
    border-radius: 0.25em;
}



.id {
    position: absolute;
    font-size: 0.8em;
    top: -20px;
    right: -20px;
    font-style: italic;
    color: var(--reference-color);
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 20px;
    height: 20px;

    &>svg {
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        color: var(--foreground-color);
    }
}

.terminal {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    background-color: var(--foreground-color);

    &.terminal_vertical {
        height: 28px;
        width: 2px;
        top: -4px;
        right: 9px;
    }

    &.terminal_horizontal {
        height: 2px;
        width: 28px;
        top: 9px;
        left: -4px;
    }
}