.box {
    position: relative;
    /* border: 1px solid transparent;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    color: var(--foreground-color);

    &:hover {
        .terminal {
            background-color: var(--foreground-color);
        }
    }
}

.box_valid {
    background-color: #03a13035;
}

.box_invalid {
    background-color: #de340935;
}

.box_selected {
    /* border: 1px dashed #c3781cee;*/
    border-radius: 0.25em;
}



.id {
    position: absolute;
    font-size: 0.8em;
    top: -20px;
    right: -20px;
    font-style: italic;
    color: var(--reference-color);
}


.lock {
    position: absolute;
    top: -20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    cursor: pointer;
    color: #0355a1;
    padding: 0;
    z-index: 2;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 20px;
    height: 20px;

    &>svg {
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        color: var(--foreground-color);
    }
}

.terminal {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease-in-out;
    z-index: 50;

    background-color: var(--foreground-color);

    &.terminal_top {
        height: 14px;
        width: 2px;
        top: -4px;
        right: 9px;
        background-color: transparent;

        &:hover {
            background-color: var(--foreground-color);
        }
    }

    &.terminal_right {
        height: 2px;
        width: 14px;
        top: 9px;
        right: -4px;
        background-color: transparent;

        &:hover {
            background-color: var(--foreground-color);
        }
    }

    &.terminal_bottom {
        height: 14px;
        width: 2px;
        bottom: -4px;
        right: 9px;
        background-color: transparent;

        &:hover {
            background-color: var(--foreground-color);
        }
    }

    &.terminal_left {
        height: 2px;
        width: 10px;
        top: 9px;
        left: -4px;
        background-color: transparent;

        &:hover {
            background-color: var(--foreground-color);
        }
    }


    &.terminal_top_connected,
    &.terminal_right_connected,
    &.terminal_bottom_connected,
    &.terminal_left_connected {
        background-color: var(--foreground-color);
    }

}