.handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #33d96d;
    border: 1px solid #041209;
    left: 50%;
    top: -30px;
    border-radius: 100%;
    transform: translate(-50%, 120%);
    cursor: url("rotate_svg.png") 30 30, pointer;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        left: 3px;
        top: 8px;
        width: 2px;
        height: 8px;
        background-color: #041209;
        z-index: -1;
    }
}