.terminal {
	width: 1px;
	height: 1px;
	border-radius: 0;
	background-color: var(--foreground-color);
	border: 0px solid transparent;
}

.terminal_connectable {
	width: 7px;
	height: 7px;
	border-radius: 5px;
}
