.terminal {
	width: 1px;
	height: 1px;
	border-radius: 0;
	border: 0px solid transparent;
	background-color: var(--foreground-color);

	/*	&:after {
		content: "";
		position: absolute;
		border-radius: 0;
		border: 0px solid transparent;
		background-color: var(--foreground-color);
	}*/

	&[data-handleid="1"][data-ispolarized="polarized"] {
		background-color: var(--positive-color);

		&:after {
			background-color: var(--positive-color);
		}
	}

	&[data-handleid="2"][data-ispolarized="polarized"] {
		background-color: var(--negative-color);

		&:after {
			background-color: var(--negative-color);
		}
	}

	svg {
		position: absolute;
		top: -1px;
		left: -2px;
		width: 10px;
		height: 10px;  

		& line{
			stroke: var(--foreground-color);
			shape-rendering: crispEdges;
		}
	}


	&[data-handlepos="right"] {
		&:after {
			top: 0px;
			left: -2px;
			width: 5px;
			height: 1px;
		}
	}

	&[data-handlepos="left"] {
		&:after {
			top: 0px;
			left: -2px;
			width: 5px;
			height: 1px;
		}
	}

	&[data-handlepos="top"] {
		svg {
			top: -1px;
			left: -8px;
			width: 10px;
			height: 10px;
			transform: rotate(90deg);
		}

		top: -2px;

		&:after {
			width: 1px;
			height: 10px;
		}
	}

	&[data-handlepos="bottom"] {
		svg {
			top: -1px;
			left: -8px;
			width: 10px;
			height: 10px;
			transform: rotate(90deg);
		}
		&:after {
			width: 1px;
			height: 5px;
		}
	}
}

.terminal_connectable {
	width: 3px;
	height: 3px;
	border-radius: 1px;
	background-color: var(--foreground-color);

	svg {
		line {
			stroke: transparent; 
		}
	}

	&[data-handleid="1"][data-ispolarized="polarized"] {
		background-color: var(--positive-color);
		border: 1px solid var(--positive-color);
	}

	&[data-handleid="2"][data-ispolarized="polarized"] {
		background-color: var(--negative-color);
		border: 1px solid var(--negative-color);
	}
}