.details {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 0;
    width: 100%;
    max-width: 265px;
    border-radius: 0.25em;
    z-index: 1000;
    font-family: var(--font-family);
}



.value {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    place-items: center start;
    gap: 1em;
}

.value_number {
    gap: 0.5em;
    border: none;
    padding: none;
    font-family: var(--font-family);
}

.value_label {
    font-size: 0.9em;
    color: var(--label-color);

}

.label_reference {
    padding: 0.25em 0;
}

.value_hidden {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    padding: 0 0 0.5em 0;
    font-size: 0.8em;
    gap: 8px;
    font-style: italic;
    color: var(--label-second-color);
}

.button {
    width: 2.5em;
    height: 2.5em;
    padding: 0;
}


.groupNodes {
    text-transform: capitalize;
}