.details {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 0;
    width: 100%;
    border-radius: 0.25em;
    z-index: 1000;
    font-family: var(--font-family);
}



.value {
    border: 1px solid #aaaaaa;
    border-radius: 0.25em;
    background-color: #f6f6f6;
}

.value_number {
    border: none;
    padding: none;
    font-family: var(--font-family);
}

.button {
    width: 2.5em;
    height: 2.5em;
    padding: 0;
}


.groupNodes {
    text-transform: capitalize;
}