@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family: var(--font-family);
    background-color: #201f1f;
}

:root {
    --foreground-color: #000000;
    --reference-color: #690303;
    --background-color: #292929;
    --background-color-tab: #ffffff;
    --background-color-tab-inactive: #e6e6e6;
    --foreground-color-tab-inactive: #909090;
    --foreground-color-tab-active: #909090;
    --border-color-tab: #d5d5d5;
    --board-background-color: #fbfbfb;
    --label-color: #343434;
    --label-second-color: #343434;
    --primary-color: #2db8d4;
    --border-color: #DEDEDE;
    --grid-large-color: #d6d6d6;
    --grid-small-color: #e0e0e0;
    --fill-minimap-node: #aca9a9;
    --fill-minimap-node-mask: #e9e5e5;
    --background-minimap: #f9f8f8;
    --font-family: "Jost", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --color-wire-one: #000000;
    --color-wire-two: #FF0000;
    --color-wire-three: #FF7F00;
    --color-wire-four: #FFFF00;
    --color-wire-five: #00FF00;
    --color-wire-six: #00FFFF;
    --color-wire-seven: #0000FF;
    --color-wire-eight: #7F00FF;
    --color-wire-nine: #FF00FF;
    --color-wire-ten: #FFFFFF;
    --selection-border-color: #c3781cee;
    --selection-background-color: #c3781c17;
    --group-border-color: #3a1010;
    --group-background-color: #feffac20;
}

[data-theme="dark"] {
    --foreground-color: #FFFFFF;
    --reference-color: #c39950;
    --fill-minimap-node: #e4e4e4;
    --label-color: #a4eeff;
    --label-second-color: #c2c2c2;
    --background-color-tab: #141414;
    --background-color-tab-inactive: #414141;
    --border-color-tab: #424242;
    --background-minimap: #5f5f5f;
    --fill-minimap-node-mask: #1a1a1a;
    --board-background-color: #141414;
    --grid-large-color: #3a3a3a;
    --grid-small-color: #292929;
    --color-wire-one: #FFFFFF;
    --color-wire-two: #FF6F61;
    --color-wire-three: #FFA500;
    --color-wire-four: #FFD700;
    --color-wire-five: #32CD32;
    --color-wire-six: #4682B4;
    --color-wire-nine: #1E90FF;
    --color-wire-eight: #9370DB;
    --color-wire-ten: #000000;
    --selection-border-color: #b9ff57ee;
    --selection-background-color: #b9ff5717;
    --group-border-color: #cf9f0d;
    --group-background-color: #9ea03020;
}

/*
.react-flow-wrapper {
    width: 100%;
    height: 100%;
}
*/
/*
.react-flow__node {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.react-flow__node-input {
    border: 2px solid #0077ff;
}

.react-flow__node-output {
    border: 2px solid #ff0077;
}
*/

.react-flow__node {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.react-flow__attribution {
    display: none;
}

.react-flow__handle.connectingto {
    background: #f33524;
    border-color: #f33524;
}

.react-flow__handle.valid {
    background: #2dd451;
    border-color: #2dd451;
}

.react-flow__handle.connectionindicator {
    cursor: crosshair;
}

.react-flow__edge.selectable:hover .react-flow__edge-path {
    filter: drop-shadow(0 0 2px var(--wire-color));
}

.react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: #06d7c9;
    filter: drop-shadow(0 0 1px #00ffee);
}

.ant-card-head-title {
    font-weight: 500;
}

.ant-input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1em;
}

.ant-tooltip {
    font-family: var(--font-family);
}

.react-flow__nodesselection-rect,
.react-flow__selection {
    border: 1px dashed var(--primary-color);
}

:where(.css-dev-only-do-not-override-poerbe).ant-card {
    background-color: var(--background-color);
}

:where(.css-dev-only-do-not-override-poerbe).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
:where(.css-dev-only-do-not-override-poerbe).ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab,
:where(.css-dev-only-do-not-override-7ny38l).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
:where(.css-dev-only-do-not-override-7ny38l).ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
    background-color: var(--background-color-tab-inactive);
    color: var(--foreground-color-tab-inactive);
}



:where(.css-dev-only-do-not-override-7ny38l).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
:where(.css-dev-only-do-not-override-7ny38l).ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active,
:where(.css-dev-only-do-not-override-poerbe).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
:where(.css-dev-only-do-not-override-poerbe).ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
    background-color: var(--background-color-tab);
    border-color: var(--border-color-tab);
}


:where(.css-dev-only-do-not-override-7ny38l).ant-tabs .ant-tabs-tab:hover,
:where(.css-dev-only-do-not-override-poerbe).ant-tabs .ant-tabs-tab:hover {
    color: #18b6f5;
}

:where(.css-dev-only-do-not-override-poerbe).ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active,
:where(.css-dev-only-do-not-override-poerbe).ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color: var(--background-color-tab);
}

:where(.css-dev-only-do-not-override-poerbe).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--primary-color);
}


.label {
    padding: 0 0 0.5em 0;
}

.details_name {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-color);
    max-width: 270px;
}


:where(.css-dev-only-do-not-override-7ny38l).ant-switch.ant-switch-checked {
    background-color: var(--primary-color);
}

:where(.css-dev-only-do-not-override-7ny38l).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--primary-color);
}

.react-flow__minimap-node {
    fill: var(--fill-minimap-node);
}

.react-flow__minimap {
    background-color: var(--background-minimap);
}

.react-flow__minimap-mask {
    fill: var(--fill-minimap-node-mask);
}

:where(.css-dev-only-do-not-override-poerbe).ant-collapse,
:where(.css-dev-only-do-not-override-7ny38l).ant-collapse {
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-7ny38l).ant-tabs-top>.ant-tabs-nav,
:where(.css-dev-only-do-not-override-7ny38l).ant-tabs-bottom>.ant-tabs-nav,
:where(.css-dev-only-do-not-override-7ny38l).ant-tabs-top>div>.ant-tabs-nav,
:where(.css-dev-only-do-not-override-7ny38l).ant-tabs-bottom>div>.ant-tabs-nav,
:where(.css-dev-only-do-not-override-poerbe).ant-tabs-top>.ant-tabs-nav,
:where(.css-dev-only-do-not-override-poerbe).ant-tabs-bottom>.ant-tabs-nav,
:where(.css-dev-only-do-not-override-poerbe).ant-tabs-top>div>.ant-tabs-nav,
:where(.css-dev-only-do-not-override-poerbe).ant-tabs-bottom>div>.ant-tabs-nav {
    margin: 0;
}


.ant-color-picker-panel,
:where(.css-dev-only-do-not-override-poerbe).ant-color-picker .ant-color-picker-inner .ant-color-picker-input-container,
:where(.css-dev-only-do-not-override-poerbe).ant-color-picker .ant-color-picker-inner-content>.ant-divider,
:where(.css-dev-only-do-not-override-poerbe).ant-color-picker .ant-color-picker-inner .ant-color-picker-presets .ant-collapse-item>.ant-collapse-header,
:where(.css-dev-only-do-not-override-7ny38l).ant-color-picker .ant-color-picker-inner .ant-color-picker-input-container,
:where(.css-dev-only-do-not-override-7ny38l).ant-color-picker .ant-color-picker-inner .ant-color-picker-presets .ant-collapse-item>.ant-collapse-header,
:where(.css-dev-only-do-not-override-7ny38l).ant-color-picker .ant-color-picker-inner-content>.ant-divider {
    display: none;
}

:where(.css-dev-only-do-not-override-poerbe).ant-color-picker .ant-color-picker-inner .ant-color-picker-presets .ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box,
:where(.css-dev-only-do-not-override-7ny38l).ant-color-picker .ant-color-picker-inner .ant-color-picker-presets-items {
    display: flex;
    flex-flow: row wrap;
    max-width: 100px;
}

.elementDrag {
    color: var(--foreground-color);
    border: 1px dashed var(--foreground-color);
    border-radius: 0.25em;
    width: 60px;
    height: 60px;

    &>svg {
        width: 60px;
        height: 60px;
    }
}