.box {
    position: relative;
    /*border: 1px solid transparent;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    color: var(--foreground-color);
}

.box_valid {
    background-color: #03a13035;
}

.box_invalid {
    background-color: #de340935;
}

.box_selected {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px dashed #c3781cee;
    background-color: #c3781c17;
    border-radius: 0.25em;
}

.value {
    position: absolute;
    font-size: 0.85em;
    bottom: -2px;
    left: 0;
}

.id {
    position: absolute;
    font-size: 0.8em;
    top: -2px;
    left: 0;
    font-style: italic;
    color: var(--reference-color);
}

.value_90,
.value_270 {
    left: 45px;
}

.lock {
    position: absolute;
    top: 2px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    cursor: pointer;
    color: #0355a1;
    padding: 0;
    z-index: 2;
}

.lock_90,
.lock_270 {
    top: -1px;
    right: auto;
    left: -2px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 60px;
    height: 60px;

    &>svg {
        width: 60px;
        height: 60px;
    }
}